@media all and (min-width: 480px) {
    .Signup {
      padding: 60px 0;
    }

    .label {
        float: left !important;
    }
  
    .Signup form {
      margin: 0 auto;
      max-width: 400px;
    }
  }
  
  .Signup form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
  }

.Signup {
    margin: 0 -65px;
    min-height: 100vh;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a9ed9+17,ff8099+100 */
    background: #1a9ed9; /* Old browsers */
    background: -moz-linear-gradient(45deg, #1a9ed9 17%, #ff8099 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #1a9ed9 17%,#ff8099 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #1a9ed9 17%,#ff8099 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a9ed9', endColorstr='#ff8099',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }