.footer {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0.5rem;
    text-align: center;
    background-color: #4d5960;
    color: white;
    opacity: 1;
    z-index: 1000;
}

.footer:hover {
    background-color: #000;
}

.blue-text {
    color: #1a9ed9;
}

#companyname{
    float: center;
}

#copyright {
    float: right;
}